@import url(./reset.css);
@import url(./mobile.css);
@import url(./components/navbar.css);
@import url(./components/main.css);
@import url(./components/scrollbar.css);

.accent-text {
    color: #137bff;
}

.video {
    border-radius: 14px;
    min-width: 500px;
}

.loading {
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 3;
}

.loading:after {
    content: url(../img/spinner.png);
    display: block;
    position: absolute;
    align-self: center;
    justify-self: center;
}
